.DoctorGroup {
  position: absolute;
  width: 35vw;
  top: 20%;
  left: 10%;
}
.leftCard {
  position: absolute;
  width: 20vw;
  top: 14vw;
  left: 5vw;
}
.rightCard {
  position: absolute;
  width: 20vw;
  top: 37vw;
  left: 35vw;
}
.sickKid {
  position: absolute;
  top: 30%;
  left: 55%;
}
.title {
  font-size: 3vw;
  text-align: left;
}
/* ================Right section======================== */
.logoContentDiv {
  padding-top: 3vw;
}
.logoDiv {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 2vw;
  padding-bottom: 2.5vw;
}
.logo {
  width: 2.5vw;
}
.logoText {
  font-size: 2vw;
  font-family: sans-serif;
}
/* ===============Responsive MAX600px=========================== */
@media only screen and (max-width: 600px) {
  .sickKid {
    position: absolute;
    top: 10%;
    left: 60%;
  }
  .DoctorGroup {
    position: absolute;
    width: 35vw;
    top: 8%;
    left: 10%;
  }
  .leftCard {
    position: absolute;
    width: 20vw;
    top: 14vw;
    left: 5vw;
  }
  .rightCard {
    position: absolute;
    width: 20vw;
    top: 37vw;
    left: 35vw;
  }
}
