.titleDiv {
  width: 100vw;
  height: fit-content;
  padding-top: 2vw;
}
.titleOne {
  font-size: 3vw;
  text-align: center;
}
.titleTwo {
  font-size: 2vw;
  text-align: center;
}
/* =============Images=============== */
.imageOne,
.imageTwo,
.imageThree,
.imageFour,
.imageFive,
.imageSix,
.imageSeven,
.imageEight {
  width: 15vw;
}
.imageContainer {
  display: flex;
  justify-content: center;
  padding-top: 1vw;
}
.imageDiv {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 1.5vw;
}
